    
    body {
        float: right;
        color: antiquewhite;
        font-size: 125%;
        padding: 120px;
        padding-top: 50px;
      
        
        
        

}

   
    

    html {


         background: url(pizzabackground.jpg) no-repeat center center fixed;

        -webkit-background-size: 100% auto;

        -moz-background-size: 100% auto;

        -ms-background-size: 100% auto;

        -o-background-size: 100% auto;

        background-size: 100% auto;




    }

   




  